
@font-face {
    font-family: 'Segoe WP';
    src: url('../fonts/SegoeWP.woff2') format('woff2'),
        url('../fonts/SegoeWP.woff') format('woff'),
        url('../fonts/SegoeWP.svg#SegoeWP') format('svg');
    /* font-weight: ;
    font-style: normal; */
}
html {
    font-size: 10px;
}

body {
    font-family: 'Segoe WP', Times, serif ;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
    transition: all 0.5s ease;
    box-sizing: border-box;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    outline: none;
    text-decoration:none;
    list-style: none;
}


header {
    background: url(../img/bg.png)  no-repeat center top/ cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shape {
    background: #fff;
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center;
    align-content: center; */
}
.head-bar {
 width: 90%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-content: center;

}
.menu {
    width: 60%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu a {
    font-size: 2rem;
    color: #000;
}

.main-part {
   
    display: flex;
    /* flex-direction: column; */
 justify-content: space-between;
 align-items: center;
 
}

.main-part__text {
    margin-left: 100px;
    color: #fff;
    
}


.main-part__text h1{
    font-size: 4.2rem;
    
}
.main-part__text p{
    font-size: 2.4rem;
    width: 27rem;
    
}