
@font-face {
    font-family: 'Segoe WP';
    src: url('../fonts/SegoeWP.woff2') format('woff2'),
        url('../fonts/SegoeWP.woff') format('woff'),
        url('../fonts/SegoeWP.svg#SegoeWP') format('svg');
    /* font-weight: ;
    font-style: normal; */
}
html {
    font-size: 10px;
}

body {
    font-family: 'Segoe WP', Times, serif ;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

*, *:before, *:after, *:hover{
    box-sizing: border-box;
    transition: all 0.5s ease;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    outline: none;
    text-decoration:none;
    list-style: none;
}

/* section {
    width: 90%;
} */

header {
    background: url(../img/bg.png)  no-repeat center top/ cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shape {
    background: #fff;
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center;
    align-content: center; */
}
.head-bar {
 width: 90%;
 display: flex;
 justify-content: space-between;
 /* align-items: center; */
 align-content: center;

}
.head-bar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.menu {
    width: 60%;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center; */
}

.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu a {
    font-size: 2rem;
    color: #000;
    line-height: 60px;
    padding: 0;
    margin: 0;
    /* border-bottom: 2px; */
}

.menu a:hover {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #5094f2;
    display: inline-block;
    /* line-height: 0.85; */
    line-height: 59px;
}

.main-part {
    display: flex;
    /* flex-direction: column; */
 justify-content: space-between;
 align-items: center;
 position: relative;
 
}
.main-part__arrow {
    font-size: 50px;
    color: #fff !important;
    cursor: pointer;
  }
    .arrow_left {
      position: absolute;
      left: -90px;
      
    }
  .arrow_right {
    position: absolute;
    right: -90px;
  }
.main-part__text {
    margin-left: 100px;
    color: #fff;
    
}


.main-part__text h1{
    font-size: 4.2rem;
    
}
.main-part__text p{
    font-size: 2.4rem;
    width: 27rem;
    
}
.main-part__text button{
    font-size: 2.2rem;
    background: #5094f2;
    width: 174px;
    height: 44px;
    color: #fff;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.fa-check {
    font-size: 1.2rem;
    color:#5094f2 !important;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    vertical-align: bottom;
    margin-right: 5px;

}

#goods {
    padding-top: 60px;
    
}

.goods__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.item h4 {
    font-size: 2rem;
    margin: 2rem 0px 0px 0px;

    color: #5094f2;
}

.item p {
    font-size: 1.5rem;
    width:60%;
}

#shoping {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    color: #6f7173;
    padding-bottom: 4rem;
}

#shoping h2 {
    font-size: 4.2rem;
    padding-left: 9rem;
}

.shoping-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content:  space-around;
}

.text-content {
    width: 40%;

}
.text-content span{
font-size: 2.6rem;
}

.text-content p{
font-size: 1.5rem;
 line-height: 3rem;
}

.line {
    content: '';
    display: block;
    height: 1px;
    background:  #e5e5e5;
    width: 100%;
}

footer {
    padding: 3rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    color: #6f7173;
}